.navigator {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10vh auto 5vh auto;
    width: fit-content;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.navigator button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    background-color: transparent;
    color: #4a5568;
    /* Tailwind gray-600 */
}

.navigator button.active {
    background-color: #3b82f6;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigator button:not(.active):hover {
    background-color: #eee;
}





/* ---------------------------------------------------- */
/* RESPONSIVE ADJUSTMENTS */
/* ---------------------------------------------------- */

@media (max-width: 1024px) {
    .navigator {
        margin: 8% 8% 2% 8%;
        flex-wrap: wrap;
        gap: 8px;
    }

    .navigator button {
        font-size: 0.7rem;
        padding: 8px 14px;
    }

}